header {
a {
  height: 20px;
.box-shadow-menu {
  position: relative;
  padding-left: 5px;

}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  width: 18px;
  height: 3px;
  background: black;
  box-shadow: 
    0 12px 0 0 black,
    0 6px 0 0 black;
}
}

.navbar-brand {
  margin: 0;
}

.panel-toggle {
    position: relative;

    margin-right: 10px;
    padding: 5px 10px 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

.icon-bar {
    margin-top: 4px;
        background-color: #FFF;
        width: 22px;
        height: 2px;
            display: block;
}
}
}