$navbar-default-color:             #777;
$navbar-default-bg:                darken(#aaaaf8, 15%);

$navbar-default-brand-color:               #fff;
$navbar-default-brand-hover-color:         #fff;
$navbar-default-brand-hover-bg:            transparent !default;